<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Cập nhật sản phẩm</title>
    <link rel="stylesheet" href="/assets/css/admin.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
      integrity="sha512-SfTiTlX6kk+qitfevl/7LibUOeJWlt9rbyDn92a1DqWOw9vWG2MFoays0sgObmWazO5BQPiFucnnEAjpAB+/Sw=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer" />
    <link
      href="https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic"
      rel="stylesheet" />
  </head>
  <body>
    <div class="app">
      <header class="header">
        <div class="container">
          <div class="header-main">
            <div class="header-left">
              <div class="header-logo">
                <a href="#">
                  <img src="../images/logo-admin.png" alt="" />
                </a>
              </div>
              <div class="header-bar">
                <i class="fa fa-bars icon-bar" aria-hidden="true"></i>
              </div>
              <form action="" class="header-form">
                <div class="header-input">
                  <input type="text" placeholder="Tìm kiếm " />
                  <div class="header-input-icon">
                    <i class="fa fa-search" aria-hidden="true"></i>
                  </div>
                </div>
              </form>
            </div>
            <div class="header-right">
              <div class="header-bell">
                <i class="fa fa-bell" aria-hidden="true"></i>
              </div>
              <div class="header-auth">
                <div class="header-avatar">
                  <img src="../images/avatar.png" alt="" />
                </div>
                <div class="header-name">Chào, ZStyle</div>
              </div>
            </div>
          </div>
        </div>
      </header>
      <section class="dashboard">
        <div class="container">
          <div class="dashboard-main">
            <div class="dashboard-left show">
              <ul class="dashboard-menu show">
                <li class="dashboard-menu-list">
                  <a href="#" class="dashboard-menu-link active" data-tab="1">
                    <i class="fa fa-tachometer" aria-hidden="true"></i>
                    Dashboard
                  </a>
                </li>
                <li class="dashboard-menu-list">
                  <a href="#" class="dashboard-menu-link" data-tab="2">
                    <i class="fa fa-list" aria-hidden="true"></i>
                    Danh mục sản phẩm
                  </a>
                </li>
                <li class="dashboard-menu-list">
                  <a href="#" class="dashboard-menu-link" data-tab="3">
                    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
                    Sản phẩm
                  </a>
                </li>
                <li class="dashboard-menu-list">
                  <a href="#" class="dashboard-menu-link" data-tab="4">
                    <i class="fa fa-user" aria-hidden="true"></i>
                    Tài khoản
                  </a>
                </li>
                <li class="dashboard-menu-list">
                  <a href="#" class="dashboard-menu-link" data-tab="5">
                    <i class="fa fa-commenting" aria-hidden="true"></i>
                    Bình luận
                  </a>
                </li>
                <li class="dashboard-menu-list">
                  <a href="#" class="dashboard-menu-link">
                    <i class="fa fa-sign-out" aria-hidden="true"></i>
                    Đăng xuất
                  </a>
                </li>
              </ul>
            </div>
            <div class="dashboard-right">
              <h2 class="title-primary">Cập nhật sản phẩm</h2>
              <form action="" class="product-form">
                <div class="category-group-item">
                  <div class="categori-title">Lựa chọn danh mục*</div>
                  <div class="product-form-input">
                    <input type="text" />
                    <div class="product-form-icon">
                      <i class="fa fa-angle-down" aria-hidden="true"></i>
                    </div>
                  </div>
                </div>
                <div class="category-group-item">
                  <div class="categori-title">Hình ảnh*</div>
                  <input type="file" class="upload" style="padding: 5px" />
                </div>
                <div class="category-group-item">
                  <div class="categori-title">Tên sản phẩm*</div>
                  <input type="text" />
                </div>
                <div class="category-group-item">
                  <div class="categori-title">Mã sản phẩm*</div>
                  <input type="text" />
                </div>
                <div class="category-group-item">
                  <div class="categori-title">Giá sản phẩm*</div>
                  <input type="text" />
                </div>
                <div class="category-group-item">
                  <div class="categori-title">Giá giảm(nếu có)</div>
                  <input type="text" />
                </div>
                <div class="category-group-item">
                  <div class="categori-title">Lựa chọn danh mục*</div>
                  <input type="text" />
                </div>
              </form>
              <div class="btn-primary">
                <button class="button-primary">Cập nhật sản phẩm</button>
              </div>
            </div>
          </div>
        </div>
      </section>
      <footer class="footer">
        <div class="container">
          <div class="footer-logo">
            <img src="../images/logo-footer.svg" alt="" />
          </div>
          <div class="footer-copy">@Copyright ZStyle.online since 2023</div>
        </div>
      </footer>
    </div>
    <script src="../js/dashboard.js"></script>
  </body>
</html>
